@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');

body{
    margin: 0;
}

*{
    scroll-behavior: smooth !important;
}

#gcb-hero {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url(http://confluence.viavarejo.com.br/download/attachments/60947505/gcb-hero-bg.png);
    background-size: 128%;
    background-repeat: repeat-y;
    animation: hero 30.0s ease-in-out infinite !important;
    display: flex;
	align-items: center;
	justify-content: center;
flex-direction: column;
	overflow: hidden;
}

#gcb-hero .gcb-hero-bottom { position: absolute; background-image: url(http://confluence.viavarejo.com.br/download/attachments/60947505/gcb-hero-bottom.png);
    background-repeat: no-repeat;
    background-position: center top;
	top:130px;
	width: 100%;
    height: 100%;
	width: 100%;
    height: 100%;
}

#gcb-hero .gcb-hero-content {
position: absolute;
    padding: 32px;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gcb-hero .gcb-hero-header {
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#gcb-hero h1 {
    font-family: Montserrat;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

#gcb-hero .gcb-hero-content img {
    width: 210px;
    margin-bottom: 80px;
}

#gcb-hero h2 {
        font-family: Montserrat;
        color: white;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 36px;
        text-align: left;
        margin: 0;
    }

#gcb-hero h5 {
    text-transform: uppercase;
    font-family: Montserrat;
    color: white;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    margin: 15px 0 6px 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    padding: 2px 20px;
    display: inline;
}

@keyframes hero{
   0%{background-position: 0% 0%;}
   50%{background-position: 100% 0%;}
   100%{background-position: 0% 0%;}
}

.expand-container {
    background: white;
    padding: 16px 28px 10px 16px;
    border-radius: 6px;
    margin: 2px 2px 12px 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.expand-container .expand-icon {
    color: #E71A3B;
    margin-right: 8px;
    margin-top: 1px;
}

.aui-icon-small {
    --aui-icon-size: 24px !important;
}

.expand-container .expand-control-text {
    color: #24284D;
    font-weight: 700;
    font-family: Montserrat;
    font-style: italic;
    font-size: 18px;
}

.expand-container .expand-content p{
    font-size: 16px;
    color: #24284D;
}

.wiki-content { background-color: #F4F7FA; max-width: 1440px; overflow-x: hidden; border-radius: 16px; border: 3px solid #EDF2F7; }
.wiki-content h2 { font-family: Montserrat; color: #0033C6; font-size: 24px; margin-bottom: 12px; }
.wiki-content p, .wiki-content ul li { font-family: Montserrat; color: #24284D; line-height: 24px; }
.wiki-content hr { border-color: #E71A3B; border-width: 2px; padding-top: 10px; margin-bottom: 30px; }
.wiki-content h4 a, .wiki-content h4 a:visited {color:#24284D }

.wiki-content table.tablesorter { width: 100%; }

.wiki-content table.tablesorter>thead>tr>th {
    background: #00d3c3 center right no-repeat;
    padding-right: 15px;
    cursor: pointer;
}

.wiki-content .tablesorter-header-inner, .wiki-content table.tablesorter>tbody>tr>td.confluenceTd {
    color: #24284D;
}

.wiki-content .columnLayout .cell.sidebars {
    width: 5% !important;
}

table.aui:not(.aui-table-list)>tbody>tr>td, table.aui:not(.aui-table-list)>tbody>tr>td a, table.aui:not(.aui-table-list)>tbody>tr>th, table.aui:not(.aui-table-list)>tfoot>tr>td, table.aui:not(.aui-table-list)>tfoot>tr>th {
    color: #24284D;
}

.btn { background: #E71A3B; color: white !important; font-weight: 500; padding: 8px 32px; border-radius: 6px; height: 20px; margin-left:12px }
.btn.new { background: #0033C6; color: #222 !important; }
